{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for car in pagination.data %}
        
         {% include "/car/partials/cards.html.twig" %}
        {% endfor %}
          <div class="pagination">
            {{ pagination.display() }}
        </div>
    </div>
</div>
{% endblock %}
