{% extends "base.html.twig" %}


{% block title %}Ajouter d'une voiture{% endblock %}

{# {% form_theme myForm _self %} #}
{% form_theme myForm 'car/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Ajouter d'une nouvelle voiture</h1>

        {{ form_start(myForm) }}



             {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Ajouter d'une voiture</button>



        {{ form_end(myForm) }}
    </div>
{% endblock %}



{% block javascripts %}
 {{encore_entry_script_tags('car')}}
{% endblock %}