{% extends 'base.html.twig' %}

{% block title %}Search results{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Search results</h1>
    
        <form method="get" action="{{ path('cars_search') }}" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ query }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        
        {% if query is not empty %} {# Si la requête n'est pas vide, afficher les résultats #}
            {% set carsCount = results|length %} {# Compter le nombre de résultats #}
                <h2>Car ({{ carsCount }} result{{ carsCount > 1 ? 's' : '' }})</h2> {#Si résultat est supérieur à un on ajoute s à résultat sinon on laisse comme ca #}
                {% for car in results %}
                    {% include "/car/_cards.html.twig" %}
                {% endfor %}
         
            {% if carsCount == 0 %} {# Si aucun résultat n'est trouvé, afficher "No results" #}
                <p>No results found</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
