{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Résultats de la recherche</h1>
    
        <form method="get" action="{{ path('cars_search') }}" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Rechercher..." value="{{ query }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </form>
        
        {% if query is not empty %} {# Si la requête n'est pas vide, afficher les résultats #}
          
                {% set carsCount = results|length %} {# Compter le nombre de résultats #}
                <h2>Voitures ({{ carsCount }} résultat{{ carsCount > 1 ? 's' : '' }})</h2> {#Si résultat est supérieur à un on ajoute s à résultat sinon on laisse comme ca
            #}
                {% for car in results %}
                    {% include "/car/partials/cards.html.twig" %}
                {% endfor %}
         
            
            {% if carsCount == 0 %} {# Si aucun résultat n'est trouvé, afficher "Aucun résultat trouvé" #}
                <p>Aucun résultat trouvé</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
