{% extends "base.html.twig" %}

{% block title %}Page not found{% endblock %}

{% block body %}
    <div class="container full">
        <h1>Page not found</h1>
        <div class="alert alert-danger">
            <p>The page you are looking for does not exist!</p>
            <p>We might have misguided you! No worries, you can go back to the homepage or check out our latest listings.</p>
            <a href="{{ path('homepage') }}" class='btn btn-primary m-2'>Back to Homepage</a>
            <a href="{{ path('cars_index') }}" class='btn btn-success m-2'>Back to Cars</a>
        </div>
    </div>
{% endblock %}
